div {
  display: block;
  width: 150px;
  height: 50px;
}

.amarillo {
  margin: 20px;
  background-color: #FFFF00;
}
.rosa {
  margin: 20px;
  background-color: #FF5753;
}
.amarillo2 {
  margin: 20px;
  background-color: #FFFF00;
}
