div {
  width: 100px;
  height: 100px;
  border: solid 2px;
  border-color: green;
  background-color: #00FF99;
  margin: 20px;
  padding: 10px;
}

span {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: solid 2px;
  border-color: green;
  background-color: #00FF99;
  margin: 20px;
  padding: 10px;
}

.contenedor {
  display: block;
  width: 500px;
  height: 145px;
  border: solid 2px;
  border-color: green;
  margin: 20px;
  padding: 10px;
}

.caja2 {
  display: inline-block;
}
